:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.form{
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.form-input {
  padding-left: 16px;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid;
}

.form-input:active{
  border: 1px solid rgba(78, 117, 255, 1)
}

.form-button, .btn-more {
  width: 91px;
  height: 40px;
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: white;
  background-color: rgba(78, 117, 255, 1);
  border: none;
}

.btn-more{
  width: 100px;
  display: none;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.form-button:hover, .btn-more:hover{
  background-color: rgba(108, 140, 255, 1);

}

.form-input::placeholder{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;

}

.inf-wrapper{
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;

}

.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 24px; 
  list-style: none;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 70px;
  
}

.gallery_img{
  max-width: 100%;
  height: 152px;
}

.gallery-item{
  border: 1px solid black;
  width: 360px;
  height: 200px;
}

.text-one, .text-two{
  margin: 0;
}

.text-one{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.04em;

  
  
}

.text-two{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;

  
}



.parent {
  display: none;
  place-items: center;
  height: 100vh; /* або інша висота, якщо потрібно */
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

